{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    Since its emergence, it has gradually become the most popular and important artistic style (television is only an improvement of transmission mode, and its performance by means of sound and painting is of the same quality as movie). Lenin said: "For us, of all artistic styles, the most important is movie." Movies have an important impact on people's behavior and lifestyle. The average American now goes to the movies six times a year.
  </p>
  <br />
  <p>
    The movie makes people's boring life rich and colorful. It makes people know how to think about BAI and reflect on themselves. Throughout the development of movies over the years, it is more reflected that art originates from life and is higher than life. The relationship between man and man, between man and society, and between man and nature is reflected in the movie, which is another expression of life.
  </p>
  <br />

  <p>
    A movie is a book that can talk. Since you can't concentrate on reading, you'd better watch a movie together.There are plenty of good things to learn and have fun with, and memory for images is easier than for words to turn into images.
  </p>
  <p style="text-align: right; font-style: italic;">
    from web
  </p>
</main>
{% endblock %}
